@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #F2F3EB;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

#container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
}

form {
    padding: 37.5px;
    margin: 50px 0;
}

h1 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: #474544;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: justify;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
}