* {
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

body,
header,
main,
footer {
    border: 2px solid;
    min-height: 50px;
    margin: 0.5rem;
}

main {
    min-height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

header, footer {
    background-color: #111;
}

.mySlides {
    display: none
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}
